* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.icon-labels {
  display: none;
}
#secondDiv {
  background-color: white !important;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#closeForm:hover {
  color: #007acc !important;
}
.clip {
  color: #007acc !important;
}

#popupBody {
  width: 100%;
  height: 100vh;
  background-color: #bdc1be;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

#openForm {
  display: none;
  position: absolute;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #007acc;
}

#closeForm {
  position: absolute;
  right: 10px;
}

#form {
  padding: 0px;
  margin: 0px;
  width: 50%;
  border-radius: 10px !important;
}
#cover {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;
  margin: 0%;
}

#iconDiv {
  background-color: #f3f3f3;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 10%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.side-icon {
  color: #666666;
}
.side-icon-two {
  color: #666666;
}

.header-part {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px !important;
}

#areaDiv {
  height: 90%;
  width: 100%;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 5px;
}

.fa-file-medical {
  color: #007acc;
}

.dropzone-content {
  color: #575757;
}

.sub-main {
  height: 80vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.side-icon:hover {
  color: #007acc !important;
  cursor: pointer;
}

#mainDiv {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#selectorDiv {
  display: none;
}
#selector {
  margin-top: 20px;
  background-color: white;
  border: 1px solid #5c5c5c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  height: 35px;
  width: 200px;
  border-radius: 6px;
}

#selectorToggle {
  width: 30%;
  background-color: #007acc;
  font-weight: bold;
  color: white;
  float: right;
  height: 100%;
  margin: 0px;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

#chosenFileName {
  padding: 10px;
  font-weight: bold;
  color: #5c5c5c;
}

#dropHead {
  color: #525252;
  font-size: 23px;
  font-weight: bold;
}
#divTwoHolder {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
#iconDivTwo {
  display: flex;
  flex-direction: column;
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  position: absolute;
  background-color: white;
  top: 5px;
  height: 250px;
  overflow-y: auto;
}

.side-icon-two {
  border-bottom: 1px dotted #4d4d4d;
  padding: 15px;
}

.side-icon-two > span {
  font-size: 15px;
}

@media only screen and (max-width: 500px) {
  #iconDiv {
    display: none;
  }
  #mainDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #form {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  #secondDiv {
    height: 90%;
    background-color: white !important;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #divTwoHolder {
    width: 80%;
  }
  #dropHead {
    display: none;
  }
  .dropzone-content {
    display: none;
  }

  #selectorDiv {
    display: block;
  }

  #iconDivTwo {
  }
}

@media only screen and (max-width: 770px) {
  #iconDiv {
    display: none;
  }
  #mainDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #form {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  #secondDiv {
    height: 90%;
    background-color: white !important;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #dropHead {
    display: none;
  }
  .dropzone-content {
    display: none;
  }

  #selectorDiv {
    display: block;
  }
}

@media only screen and (min-width: 860px) {
  #iconDivTwo {
    display: none;
  }
}
